@CHARSET "ISO-8859-1";
body ::selection {
  background: none;
}

body{
  font-family: arial, helvetica;
  text-align: center;
  color: #5a5a5a;
  color: rgba(0,0,0,0.5);
  background-color: #5a5a5a;
  padding-top: 70px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 6em;	
}
h1.header{
  height:120px;
  vertical-align: middle;
}
h2{
  font-size: 2em;
}
a{
  color: #e67e22;
}
.intro{
  text-align:center;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.intro p a{
  width: 50%;
  margin: 0 auto;
  font-size: 1em;
}
.text{
  margin: 80px;
}
.col-sm-4.col-lg-3 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px;
}

.btn-standard{
  color: #fff;
  background-color: #e67e22;
  border-color: #e67e22;
}

.btn-standard:hover{
  color: #fff;
  background-color: #d67621;
  border-color: #d67621;
}

.btn-positive:hover{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-negative:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-spotify{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-spotify:hover{
  color: #fff;
  background-color: #57a857;
  border-color: #57a857;
}

.modal-login {
  max-height: 70%;
  overflow: auto;
}

body.modal-open .main-container{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  grayscale(50%);
}

.row-margin{
  margin: 20px;
}

.btn-remove-list-item{
  width: 50px;
}

.btn-main-menu {
  width: 250px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 500px;
  margin: 20px;
}

.main-menu-row {
  margin: 10%;
}

/* CALENDAR CSS */
.day.today {
  font-weight: bold;
  background-color: darkgray;
}
.responsive-calendar .day.active a {
  background-color: white;
  color: black;
}
.responsive-calendar .day.active a:hover {
  background-color: #eee;
}

.badge-standard {
  background-color: #e67e22;
}

.bootstrap-tagsinput {
  width: 100%;
}

.label-info {
  font-size: 12px;
  background-color: #e67e22;
  margin: 1px;
}

/* BANDS CSS */
.modal-bands-content {
  height:80%;
  overflow:auto;
}

/* CARDS CSS */
.card {
    padding-top: 20px;
    margin: 10px;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background-color: #e67e22;
    background-size: cover;
    height: 70px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.bandcard-close-button {
  margin-right: 5px;
}

/* BANDS SEARCH CSS */
.result-row {
  min-height: 50px;
}

.band-info-result {
  text-align: left;
  font-weight: bold;
  vertical-align: center;
}

.band-img-result {
  width: 50px;
  height: 50px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: #e67e22;
color: white;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
background-color: #e67e22;
color: white;
}

.select2-container--classic.select2-container--open .select2-dropdown {
border-color: #e67e22;
}